force-app/main/default/flows/RecordTriggeredLEADRatingBeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Prepare_data_for_email</name>
        <label>Prepare data for email</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CampaignNotificationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getCustomNotificationId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowTasks</name>
            <value>
                <elementReference>tasks</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_custom_notification</name>
        <label>Send custom notification</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_over_output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectCZ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_CZ</name>
        <label>Send email CZ</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_custom_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>taskOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectCZ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyCZ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_variables</name>
        <label>Assign variables</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>campaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_output.campaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_output.campaignName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_output.taskOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskOwnerProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_output.taskOwnerProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_output.taskOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actualTaskCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_output.tasksCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_CZ</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>communitylink</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
           LEFT({!$Api.Partner_Server_URL_260},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_530})),
           &apos;salesforce.com/&apos;,
           &apos;site.com/&apos;
)</expression>
    </formulas>
    <formulas>
        <name>LinktoCampaign</name>
        <dataType>String</dataType>
        <expression>IF(
    {!taskOwnerProfile} = &quot;CMSS User&quot;,
    LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &apos;lightning/r/Campaign/&apos; &amp; {!campaignId} &amp; &apos;/view&apos;,
    IF(
        {!taskOwnerProfile} = &quot;CMSS Experience User&quot;,
        {!communitylink} &amp; &apos;s/campaign/&apos; &amp; {!campaignId},
        LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &apos;lightning/r/Campaign/&apos; &amp; {!campaignId} &amp; &apos;/view&apos;
    )
)</expression>
    </formulas>
    <formulas>
        <name>notificationText</name>
        <dataType>String</dataType>
        <expression>&quot;V CRM SalesForce máte nové kampaňové aktivity:&quot; &amp; 
&quot;\nKampaň: &quot; &amp; {!campaignName} &amp; 
&quot;\nPočet aktivit: &quot; &amp; {!actualTaskCount} &amp; &quot; .&quot;</expression>
    </formulas>
    <interviewLabel>Campaign Task Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Task Notification</label>
    <loops>
        <name>Loop_over_output</name>
        <label>Loop over output</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>output</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_variables</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotificationId</name>
        <label>getCustomNotificationId</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prepare_data_for_email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyCZ</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;V&amp;nbsp;CRM SalesForce máte nové kampaňové aktivity:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Kampaň: &lt;/span&gt;&lt;a href=&quot;{!LinktoCampaign}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;{!campaignName} &lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Počet aktivit: {!actualTaskCount} .&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tento e-mail je odeslán automaticky ze systému SalesForce, neodpovídejte na něj.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>actualTaskCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>campaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>output</name>
        <apexClass>CampaignNotificationDTO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubjectCZ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Nové kampaňové aktivity</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskOwnerProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UserIdVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
